In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("polygonzkevm_calldata_bytes.csv")
df['block_time'] = pd.to_datetime(df['block_time'])
df = df.set_index('block_time')
daily_counts = df.resample('D').size()

# 1. Convert daily_counts to a DataFrame
daily_counts_df = daily_counts.to_frame(name='count')

# 2. Calculate 30-day moving average and 30-day median
daily_counts_df['30d_moving_avg'] = daily_counts_df['count'].rolling(window=30).mean()
daily_counts_df['30d_moving_median'] = daily_counts_df['count'].rolling(window=30).median()

# 3. Calculate overall median, 25th percentile, 75th percentile, and average
overall_median = daily_counts_df['count'].median()
q25 = daily_counts_df['count'].quantile(0.25)
q75 = daily_counts_df['count'].quantile(0.75)
overall_average = daily_counts_df['count'].mean()

# Display the results
print(daily_counts_df.head())  # to see the first few rows with 30-day calculations
print(f"Overall Median: {overall_median}")
print(f"25th Percentile: {q25}")
print(f"75th Percentile: {q75}")
print(f"Overall Average: {overall_average}")

                           count  30d_moving_avg  30d_moving_median
block_time
2023-03-24 00:00:00+00:00      7             NaN                NaN
2023-03-25 00:00:00+00:00     11             NaN                NaN
2023-03-26 00:00:00+00:00      8             NaN                NaN
2023-03-27 00:00:00+00:00     79             NaN                NaN
2023-03-28 00:00:00+00:00    148             NaN                NaN
Overall Median: 161.0
25th Percentile: 128.0
75th Percentile: 181.0
Overall Average: 172.50423728813558

In [6]:
daily_counts_df[200:]

                           count  30d_moving_avg  30d_moving_median
block_time
2023-10-10 00:00:00+00:00    159      161.500000              161.0
2023-10-11 00:00:00+00:00    172      162.000000              161.5
2023-10-12 00:00:00+00:00    164      162.033333              161.5
2023-10-13 00:00:00+00:00    161      162.500000              161.5
2023-10-14 00:00:00+00:00    166      162.866667              162.0
2023-10-15 00:00:00+00:00    157      162.733333              162.0
2023-10-16 00:00:00+00:00    162      162.933333              162.0
2023-10-17 00:00:00+00:00    157      162.733333              162.0
2023-10-18 00:00:00+00:00    162      163.333333              162.0
2023-10-19 00:00:00+00:00    161      163.133333              162.0
2023-10-20 00:00:00+00:00    199      164.400000              162.0
2023-10-21 00:00:00+00:00    177      164.933333              162.0
2023-10-22 00:00:00+00:00    186      165.333333              162.0
2023-10-23 00:00:00+00:00    172      165.600000              162.0
2023-10-24 00:00:00+00:00    156      164.766667              162.0
2023-10-25 00:00:00+00:00    163      164.833333              162.0
2023-10-26 00:00:00+00:00    168      165.066667              162.5
2023-10-27 00:00:00+00:00    199      166.233333              162.5
2023-10-28 00:00:00+00:00    222      168.433333              163.0
2023-10-29 00:00:00+00:00    219      170.400000              163.5
2023-10-30 00:00:00+00:00    207      172.000000              164.5
2023-10-31 00:00:00+00:00    190      172.900000              165.0
2023-11-01 00:00:00+00:00    251      176.133333              165.5
2023-11-02 00:00:00+00:00    367      182.966667              167.0
2023-11-03 00:00:00+00:00    444      192.066667              167.0
2023-11-04 00:00:00+00:00    575      205.733333              170.0
2023-11-05 00:00:00+00:00    559      218.633333              170.0
2023-11-06 00:00:00+00:00    339      224.433333              172.0
2023-11-07 00:00:00+00:00    422      233.100000              174.5
2023-11-08 00:00:00+00:00    570      246.866667              181.5
2023-11-09 00:00:00+00:00    441      256.266667              188.0
2023-11-10 00:00:00+00:00    189      256.833333              189.5
2023-11-11 00:00:00+00:00    243      259.466667              194.5
2023-11-12 00:00:00+00:00    251      262.466667              199.0
2023-11-13 00:00:00+00:00    171      262.633333              199.0
2023-11-14 00:00:00+00:00    105      260.900000              199.0